Hello <%= user.name %>,

We wanted to let you know that your password has been successfully changed.

If you did not make this change, please contact our support team immediately.

Thank you,
The Team